@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Hammersmith One", sans-serif;
}

.key {
  background-image: url("./key.png");
}
